.div-logo-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img-home {
  width: 550px;
}

.render-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stack-logo {
  width: 50px;
  transition: transform 0.3s ease;
}

.stack-logo:hover {
  transform: scale(1.2);
}